* {
  margin: 0;
  padding: 0;
}

.btn-ternary {
  background-color: #FF883E;
  color: white;
  border: none;
  height: 5vh;
  border-radius: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1.2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}